<div id="pic" class="transitions-enabled">
	<% @pics.each do |pic| %>
		<div class="box panel panel-default">
			<%= link_to image_tag(pic.image.url(:medium)), pic %>
			<div class="panel-body">
				<%= pic.tag %>		
				<% if current_user && pic.user == current_user %>
					
					<div class="actions">
						<%= link_to edit_pic_path(pic) do %>
							<span class= "glyphicon glyphicon-edit"></span>
							Edit
						<% end %>
            
            <%= link_to pic, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>

					</div>
				<% end %>
			</div>
		</div>
	<% end %>

</div>