<%= image_tag @pic.image.url(:large)  %>

<p>
  <strong>Tag:</strong>
  <%= @pic.tag %>
</p>

<% if @pic.user == current_user %>
	<%= link_to 'Edit', edit_pic_path(@pic) %> |
<% end %>

<%= link_to 'Back', pics_path %>