<p><%= link_to '<< Back', pics_path %></p>

<div class="row">

		<div class="panel panel-default">
		  <div class="panel-heading" style="text-align: center">
				<%= image_tag @pic.image.url(:big)  %>
			</div>

			<div class="panel-body">
				<p><%= @pic.tag %></p>

				<% if current_user && @pic.user == current_user %>
					<%= link_to 'Edit', edit_pic_path(@pic) %> |
				<% end %>
			</div>

		</div>
	</div>
</div>