@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

$body-bg: 																#EEE;
$font-family-sans-serif:									'Oxygen', sans-serif;
$brand-primary: 													#F90;
$navbar-default-link-color:								#F90;
$navbar-default-link-hover-color:					#C60;
$navbar-default-brand-hover-color:				#C60;
$jumbotron-bg: 														#FFF;

$icon-font-path: 'bootstrap/';
@import 'bootstrap';

.actions {
	text-align: right;
}

#pic-show {
	background-color: black;
}

.panel-black {
	border-color: black;
}

.panel-heading-dark {
	background-color: #333;
}

img {
	max-width: 100%;
}