@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

$body-bg: 																#EEE;
$font-family-sans-serif:									'Oxygen', sans-serif;
$brand-primary: 													#F90;
$navbar-default-link-color:								#F90;
$navbar-default-link-hover-color:					#C60;
$navbar-default-brand-hover-color:				#C60;
$jumbotron-bg: 														#FFF;

$icon-font-path: 'bootstrap/';
@import 'bootstrap';

/* BASIC */

img {
	max-width: 100%;
}


/* PIC - INDEX */

.actions {
	text-align: right;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}


/* PIC - SHOW */

#pic-show {
	background-color: black;
}

.panel-black {
	border-color: black;
}

.panel-heading-dark {
	background-color: #333;
}