@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

$body-bg: 																#eee;
$font-family-sans-serif:									'Oxygen', sans-serif;
$brand-primary: 													#FF9900;
$navbar-inverse-bg: 											#fff;
$navbar-inverse-link-color:								#FF9900;
$navbar-inverse-link-hover-color:					#CC6600;
$navbar-inverse-brand-hover-color:				#CC6600;
$jumbotron-bg: 														#fff;

@import 'bootstrap';

